<table class="table table-hover">
        <tr>
            <td width="70px">
                <a href="{{ url_for('main.user', id = com[15]) }}">
                    <img src="{{ com[19] }}" width="40" height="40"/>
                </a>
            </td>
            <td>
                {% set user_link %}
                    <span class="user_popup">
                        <a href="{{ url_for('main.user', id=com[15]) }}">
                            {{ com[11] }}
                        </a>
                    </span>
                {% endset %}
                {{ _('%(username)s прокомментировал',
                    username=user_link) }}
                <br>
                <span id="post{{ com[7] }}">{{ com[5] }}</span>
                <br>
                <p>{{ _('%(when)s', when=moment(com[6]).fromNow()) }}
                {% if com[16] == current_user.login or current_user.login == logen %}
                    <a href="{{ url_for('main.deletecom', id=com[7]) }}">{{ _('Удалить') }}</a>
                    {% if com[16] == current_user.login %}
                    <span>{{ '   ' }}</span><a href="{{ url_for('main.edit_com', id=com[7]) }}">{{ _('Редактировать') }}</a>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
    </table>