{{ moment.include_moment() }}
{{ moment.include_jquery() }}
{{ moment.lang("ru") }}
    <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="sp-feature-box-3 margin-bottom">
              <div class="img-box"> <a href="{{ url_for('main.item_fw', id=item[0]) }}" class="view-btn uppercase">View</a>
                <img src="{{ item[10][0] }}" alt="" class="img-responsive"/> </div>
            <div class="clearfix"></div>
            <br/>
            <h5 class="less-mar-1">{{ item[4] }}</h5>
            <p>{{ item[5] }}</p>
            <div>
                <del class="oldprice">{{ item[6] }}</del>
                <span class="productprice">{{ item[7] }}</span>
                <span class="discountitem">({{ item[3] }} % off)</span>
            </div>
            <br/>
            <a class="btn btn-border light btn-small" href="{{ item[2] }}" target="_blank">Link</a> </div>
            <br/>
    </div>