{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - Social Network{% else %}{{ _('Добро пожаловать в Социальную сеть') }}{% endif %}
{% endblock %}

{% block navbar %}
    <div id="navlist">
        <a href="#">Home</a>
        <a href="#">Our Products</a>
        <a href="#">Careers</a>
        <a href="#">About Us</a>
        <a href="#">Contact Us</a>

        <!-- seach bar right align -->
        <div class="app-header-search__input-container">
            <input type="search" class="app-header-search__input" autocomplete="off" autocorrect="off">
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}
